body {
    background-color: black;
    text-align: center;
    color: #bbb;
    font-family: sans-serif;
    overflow: hidden;
    font-size: 48pt;
}

#image {
    border: 1px solid #333;
}

.keyword {
    font-size: 56pt;
    color: white;
    display: inline-block;
}

.keyword.target {

}

.keyword.complete {

}

.char.target {
    border-bottom: 6px solid red;
}

.char.complete {
    color: #ffbbbb;
}